<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" 
      xmlns:a4j="http://richfaces.org/a4j">

    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
            
                <h1><h:outputText value="Create"/></h1>
                

                <table class="table table-bordered ">
                
                	<tr>
                        <td>
                            <h:outputLabel value="Name:" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{customer.name}"  required="true" 
                                         requiredMessage="Please enter the customer name!" pt:placeholder="###">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="name" class="#{!name.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="PhoneNumber:" for="phoneNumber"/>
                        </td>
                        <td>
                            <h:inputText id="phoneNumber" value="#{customer.phoneNumber}" size="10" required="true" 
                            			validatorMessage="Please enter a valid phone number "
                                         requiredMessage="Please enter the phone number!" pt:placeholder="0000000000">
                                  <f:validateRegex pattern = "^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{1}(\ |-){0,1}[0-9]{3}$"/>
                           	</h:inputText>
                           	<br/>
                           	<h:message for="phoneNumber" class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Email:" for="email" />
                        </td>
                        <td>
                            <h:inputText id="email" value="#{customer.email}" required="true" 
                                         requiredMessage="Please enter the email!" 
                                         validatorMessage="Please enter a valid email " 
                                         pt:placeholder="###@gmail.com">
                            	<f:validateRegex pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
                           	</h:inputText>
                           	<br/>
                           	<h:message for="email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr>
                        <td>
                            <h:outputLabel value="Fax:" for="fax" />
                        </td>
                        <td>
                            <h:inputText id="fax" value="#{customer.fax}" required="true" 
                                         requiredMessage="Please enter the fax!" 
                                         validatorMessage="Please enter a valid fax. " 
                                         pt:placeholder="+#######">
                            	<f:validateRegex pattern = "^\+?[0-9]{7,}$"/>
                           	</h:inputText>
                           	<br/>
                           	<h:message for="fax" class="#{!fax.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr>
                        <td>
                            <h:outputLabel value="Description: " for="description" />
                        </td>
                        <td>
                            <h:inputText id="description" value="#{customer.description}" required="true" 
                                         requiredMessage="Please enter the description!" pt:placeholder="***"/>
                        	<br/>
                            <h:message for="description" class="#{!description.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="IndustryType: " for="industryType" />
                        </td>
                        <td>
                            <h:selectOneMenu  value="#{customer.industryType}" id="industryType" >
								<f:selectItems value = "#{industrytypeManagedBean.typenames}"/>
							</h:selectOneMenu >
							<br/>
							<h:message for="industryType" class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="StreetNumber: " for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" 
                            			 required="true" requiredMessage="Please enter the street number!" 
                            			 validatorMessage="Please enter a street number between 1 and 1000" 
                            			 converterMessage="Please enter a number" pt:placeholder="900">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                    <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="streetAddress" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" 
                                         required="true" requiredMessage="Please enter the street address!" pt:placeholder="Dandenong Rd"/>
                            <br/>
                            <h:message for="streetAddress" class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Suburb: " for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}"  required="true" 
                                         requiredMessage="Please enter the suburb!" pt:placeholder="Caulfield East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="State:"  for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" size="3" required="true" 
                                         requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Postcode: " for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" required="true" 
                                          requiredMessage="Please enter the postcode!" 
                                          validatorMessage="Please enter a postcode between 0200 and 4700" 
                                          converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td width ="200">
                            <h:outputLabel value="User Id: " for="userid" />
                        </td>
                        <td valign="bottom">       
    						<h:outputText id="userid" value="#{authentication.user.id}"/>
                        </td>
                    </tr>
                    

                                       
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" >
                	<f:actionListener binding="#{customer.setUserid(authentication.user.id)}" />
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/users/indexCustomer.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>