<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer Contact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                	<tr>
                        <td>
                            <h:outputLabel value="Name:" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{contact.name}"  required="true" 
                                         requiredMessage="Please enter the contact name!" pt:placeholder="###">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="name" class="#{!name.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Gender:" for="gender" />
                        </td>
                        <td>
                        <h:selectOneMenu value="#{contact.gender}" id="gender">
                        	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        	<f:selectItem itemLabel = "male" itemValue = "male"/>
                        	<f:selectItem itemLabel = "female" itemValue = "female"/>
                        	<f:selectItem itemLabel = "prefer not to say" itemValue = "prefer not to say"/>
                        </h:selectOneMenu> 
                        </td>                       
                    </tr>                    
                    <tr>
                        <td>
                            <h:outputLabel value="Title:" for="title" />
                        </td>
                        <td>
                            <h:inputText id="title" value="#{contact.title}"  required="true" 
                                         requiredMessage="Please enter the contact title!" pt:placeholder="###">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="title" class="#{!title.valid ? 'label label-warning' : 'none'}" />
                        </td> 
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Position:" for="position" />
                        </td>
                        <td>
                            <h:inputText id="position" value="#{contact.position}"  required="true" 
                                         requiredMessage="Please enter the contact position!" pt:placeholder="###">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="position" class="#{!position.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="PhoneNumber:" for="phoneNumber"/>
                        </td>
                        <td>
                            <h:inputText id="phoneNumber" value="#{contact.phoneNumber}" size="10" required="true" 
                            			validatorMessage="Please enter a valid phone number "
                                         requiredMessage="Please enter the phone number!" pt:placeholder="0000000000">
                                <f:validateRegex pattern = "^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{1}(\ |-){0,1}[0-9]{3}$"/>
                           	</h:inputText>
                           	<br/>
                           	<h:message for="phoneNumber" class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Email:" for="email" />
                        </td>
                        <td>
                            <h:inputText id="email" value="#{contact.email}" required="true" 
                                         requiredMessage="Please enter the email!" 
                                         validatorMessage="Please enter a valid email " 
                                         pt:placeholder="###@gmail.com">
                            	<f:validateRegex pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
                           	</h:inputText>
                           	<br/>
                           	<h:message for="email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                          
                    <tr>
                        <td>
                            <h:outputLabel value="Birthdate: " for="birthdate" />
                        </td>
                        <td>
                            <h:inputText id="birthdate" value="#{contact.birthdate}" required="true" 
                                         requiredMessage="Please enter the birthdate!" >
                            	<f:convertDateTime pattern="yyyy-MM-dd" />
                           	</h:inputText>
                           	<br/>
                           	<h:message for="birthdate" class="#{!birthdate.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>                
                    
                     <tr>
                        <td width ="200">
                            <h:outputLabel value="Customer Name: " for="customer" />
                        </td>
                        <td>
                            <h:selectOneMenu  value="#{contact.customer}" id="customer" converter="customer" >
                            	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
								<f:selectItems value="#{customerManagedBean.allCustomers}"
										var="c" itemLabel="#{c.name}" itemValue="#{c}" />
							</h:selectOneMenu >
                        </td>
                    </tr>
                    
                                       
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addContact.addContact(contact)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/users/indexCustomer.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>
