<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.name}</h:outputLabel>    
                        </td>
                    </tr> 
                    
                    <tr>
                        <td width ="150" valign="top">User Id:</td>
                        <td valign="bottom">
                            <h:outputLabel id = "UserId" >#{customerController.customer.userid}</h:outputLabel>    
                        </td>
                    </tr>  
                      
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="phoneNumber" value="#{customerController.customer.phoneNumber}"  size="10" required="true" 
                                         requiredMessage="Please enter the phone number!" ></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="email" value="#{customerController.customer.email}" required="true" 
                                         requiredMessage="Please enter the email!" 
                                         validatorMessage="Please enter a valid email ">
								<f:validateRegex pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
                            </h:inputText>    
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Fax: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="fax" value="#{customerController.customer.fax}"  required="true" 
                                         requiredMessage="Please enter the fax!" 
                                         validatorMessage="Please enter a valid fax. ">
                            	<f:validateRegex pattern = "^\+?[0-9]{7,}$"/>
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Industry Type: </td>
                        <td>
                            <h:selectOneMenu  value="#{customerController.customer.industryType}" id="industryType" >
								<f:selectItem itemValue="#{null}" itemLabel="--select--" />
								<f:selectItems value = "#{industrytypeManagedBean.typenames}"/>
							</h:selectOneMenu >
                        </td>
                    
                    </tr>
                    
                    <tr >
                        <td width ="100" valign="top">Description: </td>
                        <td valign="bottom">
                            <h:inputText id="description" value="#{customerController.customer.description}" required="true" 
                                         requiredMessage="Please enter the description!" ></h:inputText>  
                        	<br/>
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">StreetNumber: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="streetNumber" value="#{customerController.customer.address.streetNumber}" 
                                         required="true" requiredMessage="Please enter the street number!" 
                            			 validatorMessage="Please enter a street number between 1 and 1000" 
                            			 converterMessage="Please enter a number">
                            	<f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" />
                            </h:inputText>    
                        </td>
                    </tr>
                  
                    <tr>
                        <td width ="100" valign="top">StreetAddress: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="streetAddress" value="#{customerController.customer.address.streetAddress}" 
                                         required="true" requiredMessage="Please enter the street address!" >
                            </h:inputText>    
                        </td>
                    </tr>
                    
					 <tr>
                        <td width ="100" valign="top">State: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="state" value="#{customerController.customer.address.state}" size="3" 
                                         required="true" requiredMessage="Please enter the state!" >
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="postcode" value="#{customerController.customer.address.postcode}"  
                                         required="true" requiredMessage="Please enter the postcode!" 
                                         validatorMessage="Please enter a postcode between 0200 and 4700" 
                                         converterMessage="Please enter a number">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    
                    
                    
                </table>
                
                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/users/indexCustomer.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
