<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer Contact
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.contactId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Name:</td> 
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{contactController.contact.name}</h:outputLabel>    
                        </td>
                    </tr>   
                    <tr>
                        <td width ="150" valign="top">Customer:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Customer" >#{contactController.contact.customer.toString()}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>  
                        <td width ="150" valign="top">Gender:</td>
                        <td>
	                        <h:selectOneMenu value="#{contactController.contact.gender}" id="gender">
	                        	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
	                        	<f:selectItem itemLabel = "male" itemValue = "male"/>
	                        	<f:selectItem itemLabel = "female" itemValue = "female"/>
	                        	<f:selectItem itemLabel = "prefer not to say" itemValue = "prefer not to say"/>
	                        </h:selectOneMenu> 
                         </td>   
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Title:</td>
                        <td>
                            <h:inputText id="title" value="#{contactController.contact.title}"  required="true" 
                                         requiredMessage="Please enter the contact title!"></h:inputText>
                        </td> 
                    </tr>
                    
                     <tr>
                        <td width ="150" valign="top">Position:</td>
                        <td>
                            <h:inputText id="position" value="#{contactController.contact.position}"  required="true" 
                                         requiredMessage="Please enter the contact position!"></h:inputText>
                        </td> 
                    </tr>
   
                    <tr>
                        <td width ="150" valign="top">PhoneNumber:</td>
                        
                        <td valign="bottom">
                            <h:inputText id="phoneNumber" value="#{contactController.contact.phoneNumber}"  size="10" required="true" 
                                         requiredMessage="Please enter the phone number!" ></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Email:</td>
                        <td valign="bottom">
                            <h:inputText id="email" value="#{contactController.contact.email}" required="true" 
                                         requiredMessage="Please enter the email!" 
                                         validatorMessage="Please enter a valid email ">
								<f:validateRegex pattern = "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
                            </h:inputText>    
                            
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">Birthdate:</td>
                        <td>
                            <h:inputText id="birthdate" value="#{contactController.contact.birthdate}" required="true" 
                                         requiredMessage="Please enter the birthdate!" >
                            	<f:convertDateTime pattern="yyyy-MM-dd" />
                           	</h:inputText>
                           	<br/>
                        </td>
                    
                    </tr>
                       
                </table>
                
                <h:commandButton id="save" value="Save" action="#{contactManagedBean.editContact(contactController.contact)}"  
						class="btn btn-primary" >
                    <f:param name="contactID" value="#{contactController.contactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/users/indexCustomer.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>