<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
	<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    
    <h:body>
        <div class="container">
        
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>
            <br/>
            
            <h:form id="MyForm">
            
		       <h:commandButton id="searchUserid" value="Get my customers" 
		                      action="#{searchCustomer.searchCustomerByUserid(authentication.user.id)}" class="btn btn-primary" >
               </h:commandButton>
               <br/>
               <br/>
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="IndustryType" value="IndustryType"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Action" value="Action"/>
                            </td>
                                  
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerApp.customers}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:customerId').textContent"> 
                            <td>
                                <h:outputText id="customerId" value="#{customerApp.customers.get(status.index).customerId}" /> 
                                
                            </td>
                            <td> 
                                <h:outputText id="outName" value="#{customerApp.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outIndustryType" value="#{customerApp.customers.get(status.index).industryType}" />
                            </td>
                            
                            <td>
                                <h:link value="View | " outcome="/faces/users/detailCustomer.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="/faces/users/editCustomer.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApp.customers.get(status.index).customerId)}" 
                                               disabled="#{customerApp.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                            
                     
                 </table>
                 
                 <div>
                    <h:commandButton id="add" value="Add a new customer" action="/faces/users/addCustomer.xhtml" class="btn btn-primary" />

                </div>

                <br/>
		        <div>
					<h:commandButton id="goback-button" action="/faces/users/home" value="Go back to Last Page" />
				</div>
                
             </h:form>
            
        </div>
        
       
		
    </h:body>

</html>