<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
	<h:head align="center">
		<title>Index page</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>  
		<style>
			ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #006652;
			}
			
			li {
			  float: left;
			}
			
			li a {
			  display: block;
			  color: white;
			  text-align: center;
			  font-weight:bold;
			  font-size:medium;
			  padding: 14px 16px;
			  text-decoration: none;
			}
			
			li a:hover {
			  background-color: #99ffeb;
			}
			h:graphicImage{
				width:150px;
				height:50px;
			}
			body{
				background-color: #e6fffa;
				font-family: "Lucida Console", Courier, monospace;
			}
		</style>
	</h:head> 
	<body> 
		<ul>

		  <li> &nbsp;<h:graphicImage library="images" name="logo.svg"  width="150" height="50"/> &nbsp;</li>
		  <li><a class="active" href="faces/index.xhtml">Home</a></li>
		  <li><a href="#news">News</a></li>
		  <li><a href="#contact">Contact</a></li>
		  <li><a href="#about">About</a></li>
		  <li style="float:right"><h:form>
					<h:commandLink value="^-^LogOut" action="#{authentication.logout}"></h:commandLink>
                 </h:form></li>
          <li style="float:right"><a href="faces/loginRole.xhtml" class="active"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
		</ul>
		
	
	<div align="center">
		<br/>
		<br/>
          
			<h2 >Please input your password:</h2>
			<br/>
			<br/>
			
			<h:form id="passwordForm">
				<div>
					<h:outputLabel for="password" value="Password:" />	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			
					<h:inputSecret id="password" value="#{userApp.user.password}"  binding="#{passwordComponent}">					    
					    <f:ajax event="blur" execute="password confirm" render="m_password" />
					</h:inputSecret>
					<br/>
					<h:message id="m_password" for="password" />
				</div>			              
			    <br/>
    			<div>
				    <h:outputLabel for="confirm" value="Confirm password:" />
					<h:inputSecret id="confirm" binding="#{confirmPassword}">
						<f:validator validatorId="passwordValidator" />
					    <f:attribute name="passwordComponent" value="#{passwordComponent}" />
					  <f:ajax event="blur" execute="password confirm" render="m_password m_confirm" />
					</h:inputSecret>
				</div>
				<h:message id="m_confirm" for="confirm" />   
			    
				<br/>
				
				<h:commandButton id="submit" value="Submit" action="#{userManagedBean.editUser(userApp.user)}"  class="btn btn-primary" >
                    <f:param name="userID" value="#{userApp.user.id}"/>
                </h:commandButton>
                <br/>


			</h:form>
					 
		</div>


</body> 
</html>
