<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>		
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>  
		<style>
			ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #006652;
			}
			
			li {
			  float: left;
			}
			
			li a {
			  display: block;
			  color: white;
			  text-align: center;
			  font-weight:bold;
			  font-size:medium;
			  padding: 14px 16px;
			  text-decoration: none;
			}
			
			li a:hover {
			  background-color: #99ffeb;
			}
			h:graphicImage{
				width:150px;
				height:50px;
			}
			body{
				background-color: #e6fffa;
				font-family: "Lucida Console", Courier, monospace;
			}
			tr{
			font-size:small;
			color: black;
			}
			#contactPage a{
				background-color: #e6fffa;
				color: black;
			}
		</style>
	</h:head> 
	<body> 
		<ul>

		  <li> &nbsp;<h:graphicImage library="images" name="logo.svg"  width="150" height="50"/> &nbsp;</li>
		  <li><a class="active" href="faces/index.xhtml">Home</a></li>
		  <li><a href="#news">News</a></li>
		  <li id="contactPage"><a href="faces/contact.xhtml" >Contact</a></li>
		  <li><a href="#about">About</a></li>
		  <li style="float:right"><h:form>
					<h:commandLink value="^-^LogOut" action="#{authentication.logout}"></h:commandLink>
                 </h:form></li>
          <li style="float:right"><a href="faces/loginRole.xhtml" class="active"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
		</ul>
		
		<div class ="container">
		<br/>
		<table >
				<tr><th>Unit Code: FIT5042</th></tr>
				<tr><th>-------------------
			</th></tr>
				<tr><th>Student Id: 31026273</th></tr>
				<tr><th>---------------------
			</th></tr>
				<tr><th>Student Name: Xiaoxiao Yan</th></tr>
				<tr><th>------------------------------------------
			</th></tr>
				<tr><th>Student Email: xyan0092@student.monash.edu </th></tr>
			</table>
	</div>
</body> 
</html>
