<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Industry type
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                	<tr>
                        <td>
                            <h:outputLabel value="Name:" for="typename" />
                        </td>
                        <td>
                            <h:inputText id="typename" value="#{industrytype.typename}"  required="true" 
                                         requiredMessage="Please enter the industry type name!" pt:placeholder="###">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="typename" class="#{!typename.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    
                     </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addIndustrytype.addIndustrytype(industrytype)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/admins/indexIndustrytype.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>