<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
	<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    
    <h:body>
        <div class="container">
        
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - My information
                </div>
            </div>

              <h:form id="MyForm">
    
                <table class="table table-bordered ">
                   <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{userApp.user.id}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{userApp.user.username}</h:outputLabel>    
                        </td>
                    </tr>   
                    <tr>
                        <td width ="150" valign="top">Password:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Password" >#{userApp.user.password}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Groupname:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Groupname" >#{userApp.user.groupname}</h:outputLabel>    
                        </td>
                    </tr>          
                    
                 </table>   
				
				<div>	
				<h:commandButton action="/changePassword" value="Change Password" id="submit" class="btn btn-primary">
                          <f:param name="userID" value="1"/>
                    </h:commandButton>
 				&nbsp;&nbsp;&nbsp;&nbsp;	
                <h:commandButton id="close" value="Close" action="/faces/admins/index.xhtml"
					class="btn btn-primary" />
				</div>   
                
            </h:form>
            
        </div>
    </h:body>

</html>
