<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Industry Type
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{industrytypeController.industrytype.id}</h:outputLabel>    
                        </td>
                    </tr>
                      
                    <tr>
                        <td width ="100" valign="top">Type name: </td>
                        
                        <td valign="bottom">
                            <h:inputText id="typename" value="#{industrytypeController.industrytype.typename}" required="true" 
                                         requiredMessage="Please enter the industry type!" ></h:inputText>    
                        </td>
                    </tr>
                    
                </table>
                
                <h:commandButton id="save" value="Save" action="#{industrytypeManagedBean.editIndustrytype(industrytypeController.industrytype)}"  class="btn btn-primary" >
                    <f:param name="industrytypeID" value="#{industrytypeController.id+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/admins/indexIndustrytype.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
