<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
	<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    
    <h:body>
        <div class="container">
        
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - User List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each user in users List... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="User Name"  />
                            </td>

                            <td> 
                                <h:outputLabel id="GroupName" value="GroupName"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Action" value="Action"/>
                            </td>
                                  
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{userApplication.users}"  var="user" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:id').textContent"> 
                            <td>
                                <h:outputText id="id" value="#{userApplication.users.get(status.index).id}" /> 
                                
                            </td>
                            <td> 
                                <h:outputText id="name" value="#{userApplication.users.get(status.index).username}"  />
                            </td>
                            <td>
                                <h:outputText id="groupname" value="#{userApplication.users.get(status.index).groupname}" />
                            </td>
                            
                            <td>
                                <h:link value="View | " outcome="/faces/admins/detailUser.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="userID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="/faces/admins/editUser.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="userID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeUser.removeUser(userApplication.users.get(status.index).id)}" 
                                               disabled="#{userApplication.users.get(status.index).id == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                            
                     
                 </table>
                 
                 <div>
                    <h:commandButton id="add" value="Add" action="/faces/admins/addUser.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchUser.searchAllNormalUsers()}" class="btn btn-primary" >
                        <f:param name="userID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchUser.searchById}" id="searchById" required="false" 
                                 onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') 
                                              {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search by Id" 
                    				 action="#{searchUser.searchUserById(searchUser.searchById)}" class="btn btn-primary" >
                        <f:param name="userID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchUser.searchByName}" id="searchByName" required="false" 
								onchange ="if (document.getElementByName('MyForm:searchByName').value.trim() == '') 
                                              {document.getElementByName('MyForm:searchByName').value =' ';} "   /> 
                    <h:commandButton id="searchName" value="Search by Name" 
                                     action="#{searchUser.searchUserByName(searchUser.searchByName)}" class="btn btn-primary" >
                        <f:param name="userID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                 <br/>
                <div>
					<h:commandButton id="goback-button" value="Go back to Last Page" action="/faces/admins/index.xhtml"/>	
				</div>
                
             </h:form>
            
        </div>
    </h:body>

</html>