<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head align="center">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>  
		<style>
			ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #006652;
			}
			
			li {
			  float: left;
			}
			
			li a {
			  display: block;
			  color: white;
			  text-align: center;
			  font-weight:bold;
			  font-size:medium;
			  padding: 14px 16px;
			  text-decoration: none;
			}
			
			li a:hover {
			  background-color: #99ffeb;
			}
			h:graphicImage{
				width:150px;
				height:50px;
			}
			body{
				background-color: #e6fffa;
				font-family: "Lucida Console", Courier, monospace;
			}
			tr{
			font-size:medium;
			color: black;
			}
		</style>
	</h:head> 
	<body> 
	
		<ul>
		  <li> &nbsp;<h:graphicImage library="images" name="logo.svg" id="logo"  width="150" height="50"/> &nbsp;</li>
		  <li><a class="active" href="faces/index.xhtml">Home</a></li>
		  <li><a href="#news">News</a></li>
		  <li><a href="#contact">Contact</a></li>
		  <li><a href="#about">About</a></li>
		  <li style="float:right"><h:form>
					<h:commandLink value="^-^LogOut" action="#{authentication.logout}"></h:commandLink>
                 </h:form></li>
          <li style="float:right"><a href="faces/loginRole.xhtml" class="active"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
		</ul>
	
	<div align="center"> 
		<br/>
		<br/>
		<h1>Welcome to admin area</h1>
		<br/>
		<br/>
		<table >

		  <tr>
		    <th><h:link outcome="/faces/admins/indexUser" value="1. Check users information" />
		    	<h:link outcome="/faces/webService2" value=" (web service)" />
		    </th>
		  </tr>
		  <tr><th>-----------------------------
			</th></tr>
		  <tr>
		    <th><h:link outcome="/faces/customers/index" value="2. Check customers information" /></th>
		  </tr>
		  <tr><th>-----------------------------
			</th></tr>
		  <tr>
		    <th><h:link outcome="/faces/contacts/index" value="3. Check contacts information" /></th>
		  </tr>
		  <tr><th>--------------------------------------------
			</th></tr>
		  <tr>
		    <th><h:link outcome="/faces/admins/indexIndustrytype" value="4. Check customer industry types information" /></th>
		  </tr>
		  <tr><th>--------------------------------------------
			</th></tr>
			<tr><th>
			<h:link outcome="/faces/admins/detail" value="5. Check my information" >
             </h:link>
			</th></tr>
				<tr><th>-----------------------------
			</th></tr>
			<tr><th>
			<h:link outcome="/faces/customers/indexDc" value="6. Check data communication customers credit" >
             </h:link>
			</th></tr>
				<tr><th>----------------------------------------------
			</th></tr>
			<tr><th>
			<h:link outcome="/faces/customers/indexHe" value="7. Check health customers balance" >
             </h:link>
			</th></tr>
				<tr><th>----------------------------------------------
			</th></tr>
		  	<tr>
		    <th><h:link outcome="/faces/index" value="8. Go back to Home" /></th>
		  </tr>
		</table>

	</div>
	</body> 
</html>
