<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Details
                </div>
            </div>

           
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.name}</h:outputLabel>    
                        </td>
                    </tr>  
                    <tr>
                        <td width ="150" valign="top">Phone Number:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNumber" >#{customerController.customer.phoneNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Email:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{customerController.customer.email}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Fax:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Fax" >#{customerController.customer.fax}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="150" valign="top">Industry Type:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "IndustryType" >#{customerController.customer.industryType}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Description:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Description" >#{customerController.customer.description}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address.toString()}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">User Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "UserId" >#{customerController.customer.userid}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    
                 </table> 
 
         <br/>
         <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<h:link id="close" value="Close" outcome="/faces/customers/index.xhtml" class="btn btn-primary" />
		 </div>
				
        </div>
    </h:body>
</html>

