<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Details
                </div>
            </div>

           
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.name}</h:outputLabel>    
                        </td>
                    </tr>  
                    <tr>
                        <td width ="150" valign="top">Phone Number:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNumber" >#{customerController.customer.phoneNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Email:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{customerController.customer.email}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Fax:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Fax" >#{customerController.customer.fax}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="150" valign="top">Industry Type:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "IndustryType" >#{customerController.customer.industryType}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Description:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Description" >#{customerController.customer.description}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address.toString()}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">User Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "UserId" >#{customerController.customer.userid}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    
                 </table> 
        
        	   <div> Contacts</div>
                
               <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each contact in contacts ArrayList... --> 
                    <tr >
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Email" value="Email"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="PhoneNumber" value="PhoneNumber"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Action" value="Action"/>
                            </td>
                                  
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerController.customer.contacts}"  var="contact" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:id').textContent"> 
                            <td>
                                <h:outputText id="ContactId" value="#{customerController.customer.contacts.get(status.index).contactId}" /> 
                                
                            </td>
                            <td> 
                                <h:outputText id="Name" value="#{customerController.customer.contacts.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="Email" value="#{customerController.customer.contacts.get(status.index).email}" />
                            </td>
                            <td>
                                <h:outputText id="PhoneNumber" value="#{customerController.customer.contacts.get(status.index).phoneNumber}" />
                            </td>
                            
                            <td>
                            	<h:link value="View | " outcome="/faces/contacts/detail.xhtml">
                                <!-- pass the parameter to next page, the param name is contactId, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="/faces/contacts/edit.xhtml">
                                <!-- pass the parameter to next page, the param name is contactId, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeContact.removeContact(contact.contactId)}" 
                                               disabled="#{contact.contactId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>

                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                    
                 </table> 
                 
                 <br/>
                 
                
             </h:form>
            
        </div>
        
         <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <h:link id="add" value="Add a new contact" outcome="/faces/contacts/add.xhtml" class="btn btn-primary" />
         </div>
                    
         <br/>
         <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<h:link id="close" value="Close" outcome="/faces/customers/index.xhtml" class="btn btn-primary" />
		 </div>
				
        
    </h:body>
</html>

