<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
	<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    
    <h:body>
        <div class="container">
        
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="IndustryType" value="IndustryType"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Action" value="Action"/>
                            </td>
                                  
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:customerId').textContent"> 
                            <td>
                                <h:outputText id="customerId" value="#{customerApplication.customers.get(status.index).customerId}" /> 
                                
                            </td>
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outIndustryType" value="#{customerApplication.customers.get(status.index).industryType}" />
                            </td>
                            
                            <td>
                                <h:link value="View | " outcome="/faces/customers/detail.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="/faces/customers/edit.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" 
                                               disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                            
                     
                 </table>
                 
                 <div>
                    <h:commandButton id="add" value="Add" action="/faces/customers/add.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchById}" id="searchById" required="false" 
                                 onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') 
                                              {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search by Id" 
                    				 action="#{searchCustomer.searchCustomerById(searchCustomer.searchById)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByName}" id="searchByName" required="false" 
								onchange ="if (document.getElementById('MyForm:searchByName').value.trim() == '') 
                                              {document.getElementById('MyForm:searchByName').value = '';} "   />  
                    <h:commandButton id="searchName" value="Search by Name" 
                                     action="#{searchCustomer.searchCustomerByName(searchCustomer.searchByName)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByUserid}" id="searchByUserid" required="false" 
								onchange ="if (document.getElementById('MyForm:searchByUserid').value.trim() == '') 
                                              {document.getElementById('MyForm:searchByUserid').value = 0;} "   />  
                    <h:commandButton id="searchUserid" value="Search by User Id" 
                                     action="#{searchCustomer.searchCustomerByUserid(searchCustomer.searchByUserid)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                <div>
                    <h:selectOneMenu  value="#{searchCustomer.field1}" id="field1" 
                            		onchange ="if (document.getElementById('MyForm:field1').value.trim() == '') 
                                              {document.getElementById('MyForm:field1').value = '';} "  >
                            	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                            	<f:selectItem itemValue="name" itemLabel="Name" />
								<f:selectItem itemValue="email" itemLabel="Email" />
								<f:selectItem itemValue="phoneNumber" itemLabel="PhoneNumber" />
								<f:selectItem itemValue="fax" itemLabel="Fax" />
								<f:selectItem itemValue="industryType" itemLabel="IndustryType" />
							</h:selectOneMenu > 
					<h:inputText value="#{searchCustomer.value1}" id="value1" required="false" 
								onchange ="if (document.getElementById('MyForm:value1').value.trim() == '') 
                                              {document.getElementById('MyForm:value1').value = '';} "   />  
                    <br/>
                    <h:selectOneMenu  value="#{searchCustomer.field2}" id="field2" 
                            		onchange ="if (document.getElementById('MyForm:field2').value.trim() == '') 
                                              {document.getElementById('MyForm:field2').value = '';} "  >
                            	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                            	<f:selectItem itemValue="name" itemLabel="Name" />
								<f:selectItem itemValue="email" itemLabel="Email" />
								<f:selectItem itemValue="phoneNumber" itemLabel="PhoneNumber" />
								<f:selectItem itemValue="fax" itemLabel="Fax" />
								<f:selectItem itemValue="industryType" itemLabel="IndustryType" />
							</h:selectOneMenu > 
					<h:inputText value="#{searchCustomer.value2}" id="value2" required="false" 
								onchange ="if (document.getElementById('MyForm:value2').value.trim() == '') 
                                              {document.getElementById('MyForm:value2').value = '';} "   />                            
                    <h:commandButton id="searchMultipleField" value="search By Multiple Fields" 
                                     action="#{searchCustomer.searchCustomerByMultipleField(searchCustomer.field1,searchCustomer.value1, searchCustomer.field2,searchCustomer.value2)}" 
                                     class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                <br/>
		        <div>
					<h:commandButton id="goback-button" action="/faces/admins/index" value="Go back to Last Page" />
				</div>
                
             </h:form>
            
        </div>
        
       
		
    </h:body>

</html>