<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
	<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    
    <h:body>
        <div class="container">
        
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Balance" value="Balance"/>
                            </td>
                            
                                  
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerApplication.heCustomers}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:customerId').textContent"> 
                            <td>
                                <h:outputText id="customerId" value="#{customerApplication.heCustomers.get(status.index).customerId}" /> 
                                
                            </td>
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.heCustomers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="balance" value="#{customerApplication.heCustomers.get(status.index).balance}" />
                            </td>
                            
                            
                        </tr> 

                    </ui:repeat> 
                            
                     
                 </table>
                 <div>
					<h:commandButton id="goback-button" action="/faces/admins/index" value="Go back to Last Page" />
				</div>
                 

             </h:form>
            
        </div>
	
    </h:body>
    </html>